<h1>
  Query Providers Demo
</h1>

<details>
  <summary>TL;DR</summary>
  <p>Это пример использования нового подхода к настройке поведения конструкторов
  в зависимости от указанного в URL квери-параметра</p>
</details>

<details>
  <summary>Что это</summary>
  <p>
    Это демо новой утилиты для работы с сервисами.
  </p>
  <p>
    <b>Предыстория</b>: изначально данная утилита создавалась для провайда того
    или иного сервиса навигации в зависимости от указанного query-параметра в
    URL. Сервис должен был реализовывать интерфейс с единственным методом:
    <code>goBack()</code>. В зависимости от места использования конструктора
    пользователь регистрирует провайдер в компоненте конструктора, указывая
    квери параметр, при котором данный сервис будет активироваться.
  </p>
  <p>
    Затем появилась мысль, что данный подход - использование разных реализаций
    сервиса в зависимости от указанных query-параметров, может использоваться не
    только для реализации логики навигации, но и для других целей.
  </p>
</details>

<details>
  <summary>Принцип работы</summary>
  <p>
    В <code>providers</code> компоненты или модуля конструктора вызвать утилиту
    <code>createQueryProvider()</code>, см. компоненту
    <code>constructor.component.ts</code>.
  </p>
</details>


<router-outlet></router-outlet>
